<%-include('./inc/admin-header') %>
    <form action="/aboutcreate" method="POST">
        <div class="main bg-dark">
            <div class="col-md-6 ">
                <div class="mb-3 bg-dark">
                    <label for="exampleFormControlInput1" class="form-label text-light">Başlık Giriniz</label>
                    <input type="text" name="header" class="form-control" id="exampleFormControlInput1"
                        value="<%=a.abhed %>">
                </div>
                <div class="mb-3 bg-dark">
                    <label for="exampleFormControlTextarea1" class="form-label text-light">YAZINIZI GİRİN</label>
                    <textarea class="form-control" name="content" id="exampleFormControlTextarea1"
                        rows="20"><%=a.abcon %></textarea>
                    <button type="submit" class="btn btn-secondary">Güncelle</button>
                </div>
            </div>
            <h3 class="text-light mt-2">
                <%=b %>
            </h3>
        </div>
    </form>
    <%-include('./inc/footer') %>